html,
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.listBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
#titleinput {
  margin: 10px;
  padding: 5px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid grey;
  font-size: 18px;
}
.button {
  margin-bottom: 4px;
}
.topbar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
.topbar button {
  margin: 10px;
  margin-right: 10px;
}
